@model DataLayer.Features

@{
    ViewBag.Title = "حذف ویژگی";
}

<h2>حذف ویژگی</h2>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FeaturesTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeaturesTitle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به لیست محصولات", "Index")
        </div>
    }
</div>
