@model IEnumerable<DataLayer.Product_Groups>




<section class="border-radius category-side">
    <header><h3> دسته بندی ها </h3></header>
    <article>
        <ul class="category-menu">

            @foreach (var item in Model.Where(g => g.ParentID == null))
            {
                <li>
                    <h2><a href="/Archive?selectedGroups=@item.GroupID">@item.GroupTitle</a></h2>
                    @if (Model.Any(g => g.ParentID == item.GroupID))
                    {
                        <ul class="child-category-menu">
                            @foreach (var subGroup in Model.Where(g => g.ParentID == item.GroupID))
                            {
	                            <li><h2><a href="/Archive?selectedGroups=@subGroup.GroupID">@subGroup.GroupTitle</a> <span>(0)</span></h2></li>
                            }
                        </ul>
                    }
                </li>
            }

        </ul>
    </article>
</section>